useDynLib(islasso, .registration = TRUE, .fixes = "C_")

import(glmnet, stats)
importFrom(graphics, abline, legend, lines, par, plot,
	points, segments, axis, text)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importFrom(Matrix, forceSymmetric)

export(islasso, is.control, islasso.fit, 
	print.islasso, summary.islasso, plot.islasso, 
	predict.islasso, anova.islasso, print.anova.islasso, 
	logLik.islasso, residuals.islasso, fitted.islasso, 
	coef.islasso, AIC.islasso, deviance.islasso, vcov.islasso,
	print.logLik.islasso, aic.islasso, modelX, simulXy,
	model.matrix.islasso, confint.islasso, print.confint.islasso, 
	plot.confint.islasso)

S3method(print, islasso)
S3method(print, logLik.islasso)
S3method(summary, islasso)
S3method(print, summary.islasso)
S3method(coef, islasso)
S3method(vcov, islasso)
S3method(logLik, islasso)
S3method(residuals, islasso)
S3method(fitted, islasso)
S3method(AIC, islasso)
S3method(deviance, islasso)
S3method(plot, islasso)
S3method(predict, islasso)
S3method(anova, islasso)
S3method(print, anova.islasso)
S3method(model.matrix, islasso)
S3method(confint, islasso)
S3method(print, confint.islasso)
S3method(plot, confint.islasso)




